@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0a0a2b;
  font-family: "Lato", serif;
}

body,
html {
  scroll-behavior: smooth !important;
}

.bg-hero {
  background-image: url("/assets/images/webp/hero-bg.webp");
}

.mobile-view {
  background-image: url("/assets/images/webp/mobile-view-bg.webp");
}

.custom-gradient {
  background: linear-gradient(
    180deg,
    #952ffe 10.3%,
    #c641c6 44.39%,
    #ff676b 76.15%
  );
}

.pink-blur::before,
.second-blur::before {
  content: "";
  position: absolute;
  width: 164px;
  height: 164px;
  background: linear-gradient(
    180deg,
    #952ffe 10.3%,
    #c641c6 44.39%,
    #ff676b 76.15%
  );
  filter: blur(40px);
  z-index: 1;
  pointer-events: none;
}

.pink-blur::before {
  top: 50px;
  left: -50px;
}

.second-blur::before {
  bottom: 0px;
  right: -200px;
}
